*{
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
.MuiPaper-root{
  border-radius: 0;
  // box-shadow: none
}
.MuiPaper-elevation{
  box-shadow: none
}
.MuiButton-root{
  box-shadow: none;
  &:hover{
    box-shadow: none
  }
}